.HendelLogo
    fixed top 50px left 50px
    font-family 'Krona One', 'sans-serif'
    font-size 12px
    +above(rupture.scale[3])
        font-size 14px
    +above(rupture.scale[4])
        font-size 16px