.Home
    position relative
    size 100vw 100vh
    color white
    display flex
    align-items center

.Home-container
    size 100% 500px
    padding 0 50px
    display flex
    justify-content center
    text-align center
    flex-direction column

.Home-title
    font-size 24px
    font-family 'Krona One', sans-serif

.Home-subtitle
    font-size 14px
    font-family 'Poppins', sans-serif
    white-space pre-wrap

.Home-subtitleBold
    font-weight 700