.SideBar
    fixed top 0 left 0
    size 50px 100%
    display flex
    justify-content center
    align-items center

.SideBar-container
    size 16px 75px
    display flex
    flex-direction column
    justify-content space-between
    align-items center

.SideBar-bullet
    size 14px
    border-radius 50%
    border 1px solid white
    cursor pointer
