.SideBar
    fixed top 0 left 0
    size 50px 100%
    display flex
    justify-content center
    align-items center
    +above(rupture.scale[3])
        size 100px 100%

.SideBar-container
    position relative
    size 16px 75px
    display flex
    flex-direction column
    justify-content space-between
    align-items center

.SideBar-bullet
    position relative
    size 14px
    border-radius 50%
    border 1px solid white
    cursor pointer
    transition 0.4s
    box-shadow 0 0 7px 1px rgba(164, 164, 214, 0.8)
    &:hover
        background #FFF

.SideBar-hover
    background #FFF